# Custom
/gorum
/gorum.asc
/data/
/web/yarn.lock

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
**/.vscode/*

# System Files
.DS_Store
Thumbs.db
