<button mat-icon-button routerLink="/user/{{user.id}}">
  <mat-icon aria-label="{{lang('back')}}">arrow_back</mat-icon>
</button>

<mat-card>
  <mat-card-header>
    <img mat-card-avatar width="50" height="50" (click)="editAvatar()" src="{{config.baseUrl}}{{user.data['avatar']}}">

    <mat-card-title>
      <input placeholder="{{lang('Name')}}" [(ngModel)]="user.data['username']">
      <button mat-button routerLink="/change-password" color="primary">{{lang("changePassword")}}</button>
      <button mat-button routerLink="/delete-account" color="warn">{{lang("deleteAccount")}}</button>
    </mat-card-title>

    <mat-card-subtitle>{{lang('joinedOn')}} {{config.registeredDate(user.data['registered'])}}</mat-card-subtitle>
    <span class="fill-space"></span>

    <mat-card-actions>
      <button mat-flat-button (click)="saveProfile()" color="primary">{{lang("save")}}</button>
      <button mat-button routerLink="/user/{{user.id}}" color="primary">{{lang("cancel")}}</button>
    </mat-card-actions>
  </mat-card-header>

  <mat-card-content>
    {{lang("website")}}: <input [(ngModel)]="user.additionalData['website']">
  </mat-card-content>
</mat-card>
