<ng-container *ngIf="config.login; else redirect">
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar width="50" height="50" (click)="editAvatar()" src="data:image/png;base64,{{user.data['avatar']}}">
      <mat-card-title>{{user.data['username']}}</mat-card-title>
      <mat-card-subtitle>{{lang('joinedOn')}} {{config.registeredDate(user.data['registered'])}}</mat-card-subtitle>
      <span class="fill-space"></span>
      <mat-card-actions>
        <button mat-flat-button routerLink="/user/{{user.id}}" (click)="saveProfile()" color="primary">{{lang("save")}}</button>
        <button mat-button routerLink="/user/{{user.id}}" color="primary">{{lang("cancel")}}</button>
      </mat-card-actions>
    </mat-card-header>
    <!-- maybe header? -->

    <mat-card-content>
      <p>
        Some user content
      </p>
    </mat-card-content>
  </mat-card>
</ng-container>
<ng-template #redirect>
  {{config.checkLogin()}}
</ng-template>