<button mat-icon-button routerLink="/board/{{thread.board}}/{{config.generateURL(thread.boardName)}}">
  <mat-icon aria-label="{{lang('back')}}">arrow_back</mat-icon>
</button>

<div *ngIf="thread.name !== undefined">
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar width="50" height="50" src="{{config.baseUrl}}{{thread.authorAvatar}}">
      <mat-card-title>{{thread.name}}</mat-card-title>
      <mat-card-subtitle>{{lang('createdOn')}} {{config.createdDate(thread.created)}}
        {{lang('atTime')}} {{config.time(thread.created)}} {{lang('timeExtension')}}
        {{lang('by')}} <a
          routerLink="/user/{{thread.author}}/{{config.generateURL(thread.authorName)}}">{{thread.authorName}}</a>
      </mat-card-subtitle>
      <span class="fill-space"></span>

      <mat-card-actions>
        <button mat-button *ngIf="config.getUsername() === thread.authorName && config.login; else reportButton"
          color="primary" routerLink="/edit-thread/{{thread.id}}">{{lang("editThread")}}</button>
        <button mat-stroked-button *ngIf="config.getUsername() === thread.authorName && config.login; else reportButton"
          color="warn" (click)="deleteThread()">{{lang("deleteThread")}}</button>
        <ng-template #reportButton>
          <!-- TODO
          <button mat-button #reportButton color="primary" *ngIf="config.login">{{lang("report")}}</button>
          -->
        </ng-template>
      </mat-card-actions>
    </mat-card-header>

    <mat-card-content>
      <p [innerHTML]="thread.content"></p>
    </mat-card-content>
  </mat-card>
  <br>
  <div *ngFor="let post of posts">
    <br>
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar width="50" height="50" src="{{config.baseUrl}}{{post.authorAvatar}}">
        <mat-card-title><a
            routerLink="/user/{{post.author}}/{{config.generateURL(post.authorName)}}">{{post.authorName}}</a>
        </mat-card-title>
        <mat-card-subtitle>{{lang('createdOn')}} {{config.createdDate(post.created)}} {{lang('atTime')}}
          {{config.time(post.created)}} {{lang('timeExtension')}}</mat-card-subtitle>
        <span class="fill-space"></span>

        <mat-card-actions>
          <button mat-button *ngIf="config.getUsername() === post.authorName && config.login; else reportButton"
            color="primary" routerLink="/edit-post/{{post.id}}">{{lang("editPost")}}</button>
          <button mat-stroked-button *ngIf="config.getUsername() === post.authorName && config.login; else reportButton"
            color="warn" (click)="deletePost(post.id)">{{lang("deletePost")}}</button>
          <ng-template #reportButton>
            <!-- TODO
            <button mat-button #reportButton color="primary" *ngIf="config.login">{{lang("report")}}</button>
            -->
          </ng-template>
        </mat-card-actions>
      </mat-card-header>

      <mat-card-content>
        <p [innerHTML]="post.content"></p>
      </mat-card-content>
    </mat-card>
  </div>
  <br>
  <form *ngIf="config.login; else loginToPost">
    <input #content id="content" type="hidden">
    <trix-editor input="content"></trix-editor>
    <br>
    <div *ngIf="config.captcha !== undefined">
      <img src="{{config.baseUrl}}captcha/{{config.captcha}}.png" width="240" height="80">
      <br>
      <mat-form-field>
        <input matInput placeholder="{{lang('captcha')}}" name="captcha" [(ngModel)]="captcha" required />
      </mat-form-field>
    </div>
    <br>
    <button mat-flat-button color="primary" (click)="post(content.value)">{{lang('createPost')}}</button>
  </form>

  <ng-template #loginToPost>
    <p>{{lang('loginToPost')}}</p><br>
  </ng-template>
</div>

<mat-card *ngIf="thread.name === undefined">
  <mat-card-header>
    <mat-card-title>{{ lang('threadDoesNotExist') }}</mat-card-title>
  </mat-card-header>
</mat-card>
