<mat-card>
  <mat-card-header>
    <img mat-card-avatar width="50" height="50" src="{{config.baseUrl}}{{thread.authorAvatar}}">
    <mat-card-title>{{thread.name}}</mat-card-title>
    <mat-card-subtitle>{{lang('createdOn')}} {{config.createdDate(thread.created)}}
      {{lang('by')}} {{thread.authorName}}</mat-card-subtitle>
    <span class="fill-space"></span>
    <mat-card-actions>
      <button mat-flat-button *ngIf="config.getUsername() === thread.authorName && config.login; else reportButton"
        color="primary" (click)="deleteThread()">{{lang("deleteThread")}}</button>
      <ng-template #reportButton>
        <!-- TODO
        <button mat-button #reportButton color="primary" *ngIf="config.login">{{lang("report")}}</button>
        -->
      </ng-template>
    </mat-card-actions>
  </mat-card-header>

  <mat-card-content>
    <p [innerHTML]="thread.content"></p>
  </mat-card-content>
</mat-card>
<br>
<div *ngFor="let post of posts">
  <br>
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar width="50" height="50" src="{{config.baseUrl}}{{post.authorAvatar}}">
      <mat-card-title>{{post.authorName}}</mat-card-title>
      <mat-card-subtitle>{{lang('createdOn')}} {{config.createdDate(post.created)}} {{lang('atTime')}}
        {{config.time(post.created)}} {{lang('timeExtension')}}</mat-card-subtitle>
      <span class="fill-space"></span>
      <mat-card-actions>
        <button mat-flat-button *ngIf="config.getUsername() === post.authorName && config.login; else reportButton"
          color="primary" (click)="deletePost(post.id)">{{lang("deletePost")}}</button>
        <ng-template #reportButton>
          <!-- TODO
          <button mat-button #reportButton color="primary" *ngIf="config.login">{{lang("report")}}</button>
          -->
        </ng-template>
      </mat-card-actions>
    </mat-card-header>

    <mat-card-content>
      <p [innerHTML]="post.content"></p>
    </mat-card-content>
  </mat-card>
</div>
<br>
<form *ngIf="config.login; else loginToPost">
  <input #content id="content" type="hidden">
  <trix-editor input="content"></trix-editor>
  <br>
  <div *ngIf="config.captcha !== undefined">
    <img src="{{config.baseUrl}}captcha/{{config.captcha}}.png" width="240" height="80">
    <br>
    <mat-form-field>
      <input matInput placeholder="{{lang('captcha')}}" name="captcha" [(ngModel)]="captcha" required />
    </mat-form-field>
  </div>
  <br>
  <button mat-flat-button color="primary" (click)="post(content.value)">{{lang('createPost')}}</button>
</form>
<ng-template #loginToPost>
  <p>{{lang('loginToPost')}}</p><br>
</ng-template>
