<mat-card>
  <mat-card-header>
    <mat-card-title>{{lang('lastThreads')}}</mat-card-title>
    <mat-card-subtitle>{{lang('lastThreadsDescription')}}</mat-card-subtitle>
    <span class="fill-space"></span>

    <mat-card-actions>
      <button mat-stroked-button color="primary" (click)="lastThreadsShown = false"
        *ngIf="lastThreadsShown; else show">{{lang("hide")}}</button>
      <ng-template #show>
        <button mat-stroked-button color="primary" (click)="lastThreadsShown = true">{{lang("show")}}</button>
      </ng-template>
    </mat-card-actions>
  </mat-card-header>

  <mat-card-content *ngIf="lastThreadsShown">
    <mat-list *ngFor="let thread of threads">
      <mat-list-item class="thread-item" routerLink="/thread/{{thread.id}}/{{config.generateURL(thread.name)}}">
        <img matListAvatar width="50" height="50" src="{{config.baseUrl}}{{thread.authorAvatar}}" />
        <h4 mat-line>{{ thread.name }}</h4>
        <p mat-line class="gray">
          {{ lang('createdOn') }}
          {{ config.createdDate(thread.created) }}
          {{ lang('by') }}
          {{ thread.authorName }}
        </p>
      </mat-list-item>
    </mat-list>

    <p *ngIf="threads.length == 0">{{ lang('noThreads') }}</p>
  </mat-card-content>
</mat-card>
