<button mat-icon-button routerLink="/">
  <mat-icon aria-label="{{lang('back')}}">arrow_back</mat-icon>
</button>

@for (category of categoryNames; track category) {
  <mat-list>
    <h3 mat-subheader class="category-header">{{category}}</h3>
    <mat-divider></mat-divider>
    @for (board of categories.get(category); track board) {
      <mat-list-item class="board-item"
        routerLink="/board/{{board.id}}/{{config.generateURL(board.name)}}">
        <mat-icon matListItemIcon>{{board.icon}}</mat-icon>
        <div matListItemTitle>{{board.name}}</div>
        <div matListItemLine>{{board.description}}</div>
      </mat-list-item>
    }
    <br>
    </mat-list>
  }

  @if (categories.size == 0) {
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ lang('noBoards') }}</mat-card-title>
      </mat-card-header>
    </mat-card>
  }
