<button mat-icon-button routerLink="/board/{{id}}/{{config.generateURL(board.name)}}">
  <mat-icon aria-label="{{lang('back')}}">arrow_back</mat-icon>
</button>
<br>
<form>
  <mat-form-field id="threadTitle">
    <input matInput placeholder="{{lang('title')}}" name="threadTitle" [(ngModel)]="threadTitle" required />
  </mat-form-field>
  <br>
  <input #content id="content" type="hidden">
  <trix-editor input="content"></trix-editor>
  <br>
  <div *ngIf="config.captcha !== undefined">
    <img src="{{config.baseUrl}}captcha/{{config.captcha}}.png" width="240" height="80">
    <br>
    <mat-form-field>
      <input matInput placeholder="{{lang('captcha')}}" name="captcha" [(ngModel)]="captcha" required />
    </mat-form-field>
  </div>
  <br>
  <button mat-flat-button color="primary" (click)="publish(content.value)">{{lang('publish')}}</button>
</form>
