<button mat-icon-button routerLink="/users">
  <mat-icon aria-label="{{lang('back')}}">arrow_back</mat-icon>
</button>

@if (user.data['username']) {
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar width="50" height="50" src="{{config.baseUrl}}{{user.data['avatar']}}">
      <mat-card-title>{{user.data['username']}}</mat-card-title>
      <mat-card-subtitle>{{lang('joinedOn')}} {{config.registeredDate(user.data['registered'])}}</mat-card-subtitle>
      <span class="fill-space"></span>
      <mat-card-actions>
        @if (config.getUsername() === user.data['username'] && config.login) {
          <button mat-flat-button
          routerLink="/edit-profile" color="primary">{{lang("editProfile")}}</button>
        } @else {
          <!-- TODO
          <button mat-button #reportButton color="primary" *ngIf="config.login">{{lang("report")}}</button>
          -->
        }
      </mat-card-actions>
    </mat-card-header>
    <mat-card-content>
      @if (userData.contactDataProvided === true) {
        <div>
          <h3 mat-line>{{lang("contactDetails")}}</h3>
          @if (userData.userData['website'] !== undefined) {
            <p mat-line>
              {{lang("website")}}: <a href="{{userData.userData['website']}}" class="url">{{userData.userData['website']}}</a>
            </p>
          }
          @if (userData.userData['eMailAddress'] !== undefined) {
            <p mat-line>
              {{lang("eMailAddress")}}: <a href="mailto:{{userData.userData['eMailAddress']}}"
            class="url">{{userData.userData['eMailAddress']}}</a>
          </p>
        }
        @if (userData.userData['mastodon'] !== undefined) {
          <p mat-line>
            {{lang("mastodon")}}: <a href="{{userData.userData['mastodon']}}"
          class="url">{{userData.userData['mastodon']}}</a>
        </p>
      }
      @if (userData.userData['twitter'] !== undefined) {
        <p mat-line>
          {{lang("twitter")}}: <a href="https://twitter.com/{{userData.userData['twitter']}}"
        class="url">&#64;{{userData.userData['twitter']}}</a>
      </p>
    }
    @if (userData.userData['youtube'] !== undefined) {
      <p mat-line>
        {{lang("youtube")}}: <a href="{{userData.userData['youtube']}}" class="url">{{userData.userData['youtube']}}</a>
      </p>
    }
    @if (userData.userData['wire'] !== undefined) {
      <p mat-line>
        {{lang("wire")}}: &#64;{{userData.userData['wire']}}
      </p>
    }
    @if (userData.userData['discord'] !== undefined) {
      <p mat-line>
        {{lang("discord")}}: {{userData.userData['discord']}}
      </p>
    }
  </div>
}
@if (userData.userData['aboutMe']) {
  <div>
    <h3 mat-line>{{lang("aboutMe")}}</h3>
    <p [innerHTML]="userData.userData['aboutMe']"></p>
  </div>
}
<h3 mat-line id="lastThreads">{{lang('lastThreads')}}</h3>
<p mat-line class="gray">{{lang('lastThreadsDescription')}}</p>
@for (thread of threads; track thread) {
  <mat-list>
    <mat-list-item class="thread-item" routerLink="/thread/{{thread.id}}/{{config.generateURL(thread.name)}}">
      <img matListItemAvatar width="50" height="50" src="{{config.baseUrl}}{{thread.authorAvatar}}" />
      <div matListItemTitle>{{ thread.name }}</div>
      <div matListItemLine>{{ lang('createdOn') }} {{ config.createdDate(thread.created) }}
      {{ lang('by') }} {{ thread.authorName }}</div>
    </mat-list-item>
  </mat-list>
}
@if (threads.length == 0) {
  <p>{{ lang('noThreads') }}</p>
}
</mat-card-content>
</mat-card>
}

@if (!user.data['username']) {
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{lang("userDoesNotExist")}}</mat-card-title>
    </mat-card-header>
  </mat-card>
}
