@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-light-blue, 800);
$accent:  mat-palette($mat-cyan, 600, 100, 800);
$warn:    mat-palette($mat-deep-orange, 600);
$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);