<button mat-icon-button routerLink="/edit-profile">
  <mat-icon aria-label="{{lang('back')}}">arrow_back</mat-icon>
</button>

<form class="form-size">
  <br>
  <mat-form-field class="input-full-width">
    <input matInput type="password" placeholder="{{lang('oldPassword')}}" [(ngModel)]="oldPassword"
      [ngModelOptions]="{standalone: true}">
  </mat-form-field>

  <mat-form-field class="input-full-width">
    <input matInput type="password" placeholder="{{lang('newPassword')}}" [(ngModel)]="newPassword"
      [ngModelOptions]="{standalone: true}">
  </mat-form-field>

  <mat-form-field class="input-full-width">
    <input matInput type="password" placeholder="{{lang('repeatNewPassword')}}" [(ngModel)]="repeatPassword"
      [ngModelOptions]="{standalone: true}">
  </mat-form-field>
  <br>
  <button mat-flat-button (click)="changePassword()" color="primary">{{lang("changePassword")}}</button>
</form>
